# IDE files
.vscode

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

### Go Patch ###
/vendor/
/Godeps/
